* {
    list-style: none;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.logo-img {
    height: 70px;    
}

.profile-pic-post{
    height: 30px;
    border-radius: 16px;
}

.logo{
    margin-top: 100px;
    margin-bottom: 30px;
    height: 10rem;
}

.destaque {
    color:fuchsia;
    
}

.dados {
    margin-top: 200px;
}